# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\UNIVERSIDAD\10 Semestre\IETI\Labs\LAB#3\spring-boot-security-jwt\src\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
